.mainContainer {
  background-color: #ffffff;
  border-radius: 32px;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 335px;
  margin-top: 200px;
  background-color: transparent;
}

.textContainer {
  background-color: transparent;
  width: 100%;
  height: 122px;
  top: 619px;
  left: 1032px;
  opacity: 0px;
  color: #000;
}

.processedText {
  width: 90%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-blue-400);
  text-align: left;
  padding: 50px;
  background: transparent;
}

.textContainer h1 {
  background-color: transparent;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  /* color: var(--gray-500); */
  color: #000;
  margin-bottom: 20px;
}

.advice {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--gray-400);
}

.copyButton {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid var(--dark-blue-300);
  background-color: var(--dark-blue-300);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19.36px;
  align-content: center;
  color: var(--light-blue-300);
  border: none;
  cursor: pointer;
  margin: 80px;
  margin-top: 482px;
}

.copyButton:hover {
  border: 1px solid var(--dark-blue-300);
  color: black;
  background-color: transparent;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }

  .mainContainer {
    width: 90vw;
    margin-top: 100px;
  }

  .textContainer {
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .processedText {
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    max-width: 90%;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .copyButton {
    margin: 0 auto;
  }

  .textContainer h1 {
    margin-top: -200px;
    font-size: 35px;
  }

  .advice {
    font-size: 20px;
  }
}
